* {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
}
.header {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.products {
  display: flex;
  justify-content: space-around;
}
main {
  margin-top: 50px;
}  